# **Chapter 3**
# **3. Built-in Data Structures, Functions, and Files**

## **3.1 Data Structures and Sequences**

### **Tuple**

In [1]:
tup = 4, 5, 6

In [2]:
tup

(4, 5, 6)

In [4]:
type(tup)

tuple

In [5]:
nested_tup = (4, 5, 6), (7, 8)

In [6]:
nested_tup

((4, 5, 6), (7, 8))

In [7]:
tuple([4, 0, 2])

(4, 0, 2)

In [8]:
tup = tuple("string")
tup

('s', 't', 'r', 'i', 'n', 'g')

In [9]:
tup[0]

's'

In [10]:
tup = tuple(['foo', [1, 2], True])

In [11]:
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [12]:
tup

('foo', [1, 2], True)

In [13]:
tup[1].append(3)

In [14]:
tup

('foo', [1, 2, 3], True)

In [15]:
tup = (4, None, 'foo') + (6, 0) + ('bar',)

In [16]:
tup

(4, None, 'foo', 6, 0, 'bar')

In [17]:
("foo", "bar")*4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

#### Unpacked Tuples

In [18]:
tup = (4, 5, 6)
a, b, c = tup

In [19]:
b

5

In [20]:
tup = 4, 5, (6, 7)

In [24]:
a, b, (c, d) = tup

In [25]:
d

7

In [26]:
a, b = 1, 2

In [27]:
a

1

In [28]:
b

2

In [29]:
b, a = a, b

In [30]:
a

2

In [31]:
b

1

In [32]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [33]:
for a, b, c in seq:
    print("a={0}, b={1}, c={2}".format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [34]:
values = 1, 2, 3, 4, 5

In [35]:
a, b, *rest = values

In [36]:
a, b

(1, 2)

In [37]:
rest

[3, 4, 5]

In [38]:
a, b, *_ = values

In [39]:
_

[3, 4, 5]

#### Tuple Methods

In [40]:
a = (1, 2, 2, 2, 3, 4, 2)

In [41]:
a.count(2) #kac adet 2 var?

4

### **List**

In [1]:
a_list = [2, 3, 7, None]

In [2]:
tup = ('foo', 'bar', 'baz')

In [3]:
b_list = list(tup)

In [4]:
b_list

['foo', 'bar', 'baz']

In [5]:
b_list[1] = "peekaboo"

In [6]:
b_list

['foo', 'peekaboo', 'baz']

In [7]:
gen = range(10)

In [8]:
gen

range(0, 10)

In [9]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### Adding and Removing Elements

In [10]:
b_list

['foo', 'peekaboo', 'baz']

In [11]:
b_list.append("dwarf")
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [12]:
b_list.insert(1, "red")

In [13]:
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [14]:
b_list.pop(2)

'peekaboo'

In [15]:
b_list

['foo', 'red', 'baz', 'dwarf']

In [16]:
b_list.append("foo")

In [17]:
b_list

['foo', 'red', 'baz', 'dwarf', 'foo']

In [18]:
b_list.remove("foo")
b_list

['red', 'baz', 'dwarf', 'foo']

In [19]:
"dwarf" in b_list

True

In [20]:
"dwarf" not in b_list

False

#### Concatenating and Combining List

In [21]:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [22]:
x = [4, None, 'foo']

In [23]:
x.extend([7, 8, (2, 3)])

In [24]:
x

[4, None, 'foo', 7, 8, (2, 3)]

In [ ]:
everything = []
for chunk in list_of_lists:
    everything.extend(chunk)

In [ ]:
everything = []
for chunk in list_of_lists:
    everything = everything + chunk

In [25]:
a = [7, 2, 5, 1, 3]

In [26]:
a.sort()

In [27]:
a

[1, 2, 3, 5, 7]

In [28]:
b = ['saw', 'small', 'He', 'foxes', 'six']

In [29]:
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

#### Binary search and maintaining a sorted list

In [30]:
import bisect

In [31]:
c = [1, 2, 2, 2, 3, 4, 7]

In [32]:
bisect.bisect(c, 2)

4

In [33]:
bisect.bisect(c, 5)

6

In [34]:
bisect.insort(c, 6)

In [35]:
c

[1, 2, 2, 2, 3, 4, 6, 7]

#### Slice

In [36]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]

In [37]:
seq[1:5]

[2, 3, 7, 5]

In [38]:
seq[3:4] = [6,3]

In [39]:
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [40]:
seq[:5]

[7, 2, 3, 6, 3]

In [41]:
seq[3:]

[6, 3, 5, 6, 0, 1]

In [42]:
seq[-4:]

[5, 6, 0, 1]

In [43]:
seq[-6:-2]

[6, 3, 5, 6]

In [44]:
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [45]:
seq[::2]

[7, 3, 3, 6, 1]

In [46]:
seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]

### **Built-in Sequence Functions**

#### Enumerate

In [ ]:
i = 0
for value in collection:
    # do something with value
    i += 1

In [ ]:
for i, value in enumerate(collection):
    #do something with value

In [47]:
some_list = ['foo', 'bar', 'baz']

In [48]:
mapping = {}

In [49]:
for i, v in enumerate(some_list):
    mapping[v]=i

In [50]:
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

#### Sorted

In [51]:
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [52]:
sorted("horse race")

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

#### zip

In [53]:
seq1 = ['foo', 'bar', 'baz']

In [54]:
seq2 = ['one', 'two', 'three']

In [55]:
zipped = zip(seq1, seq2)

In [57]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [58]:
seq3 = [False, True]

In [59]:
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [60]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print("{0}: {1}, {2}".format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

In [61]:
pitchers = [("Nolan", "Ryan"), ("Roger", "Clemens"), ("Schilling", "Curt")]

In [62]:
first_names, last_names = zip(*pitchers)

In [63]:
first_names

('Nolan', 'Roger', 'Schilling')

In [64]:
last_names

('Ryan', 'Clemens', 'Curt')

#### reversed

In [65]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### **Dict**

In [67]:
empty_dict = {}

In [68]:
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}

In [69]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [71]:
d1[7] = "an integer"

In [72]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [73]:
d1["b"]

[1, 2, 3, 4]

In [74]:
"b" in  d1

True

In [75]:
d1[5] = "some value"

In [76]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [77]:
d1["dummy"] = "another value"

In [78]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [79]:
del d1[5]

In [80]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [81]:
ret = d1.pop("dummy")

In [82]:
ret

'another value'

In [83]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [84]:
list(d1.keys())

['a', 'b', 7]

In [85]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [86]:
d1.update({"b" : "foo",
                      "c" : 12})

In [87]:
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

#### Creating dicts from sequences

In [1]:
mapping = {}
for key, value in zip(key_list, value_list):
    mapping[key] = value

NameError: name 'key_list' is not defined

In [2]:
mapping = (dict(zip(range(5), reversed(range(5)))))

In [3]:
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

#### Default Values

In [5]:
if key in some_dict:
    value = some_dict[key]
else:
    value = default_value

NameError: name 'key' is not defined

In [ ]:
value = some_dict.get(key, default_value)

In [6]:
words = ['apple', 'bat', 'bar', 'atom', 'book']

In [7]:
by_letter={}

In [8]:
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

In [9]:
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [11]:
for word in words:
    letter=word[0]
    by_letter.setdefault(letter, []).append(word)

In [12]:
from collections import defaultdict

In [18]:
by_letter = defaultdict(list)

for word in words:
    by_letter[word[0]].append(word)

In [19]:
by_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

#### Valid dict key types

In [20]:
hash("string")

-8140632134889833691

In [21]:
hash((1, 2, (2, 3)))

-9209053662355515447

In [22]:
hash((1, 2, [2, 3])) # fails because lists are mutable

TypeError: unhashable type: 'list'

In [23]:
d = {}

In [24]:
d[tuple([1, 2, 3])] = 5

In [25]:
d

{(1, 2, 3): 5}